$headerColor: #1F3F68
$headerLightColor: #316099

$lightBlueTextColor: #798ca4

$url1Color: #5A98D0
$url1HoverColor: #1d5483

$buttonColor: #5A98D0
$buttonHoverColor: #1d5483

$popupMenuBackground: #5A98D0

$headerGradient: linear-gradient(0deg,rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%)
$projectGradient: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%)