@import fonts/index
    
@import reset
@import color
@import button

@import blocks/header
@import blocks/popup_menu

@import blocks/index/hero
@import blocks/index/can_help_capability
@import blocks/index/can_help
@import blocks/index/project
@import blocks/index/finished_projects
@import blocks/index/main

body
    font-family: 'Gilroy', sans-serif
    font-size: 16px
    letter-spacing: 0.04em