@mixin blog-article_size_normal()
    &.blog-article
        display: flex
    
    & .blog-article__image
        width: 300px
        margin-right: 20px

    & .blog-article__wrapper
        display: grid
        grid-template-rows: auto auto auto
        row-gap: 16px
    
    & .blog-article__header
        font-size: 28px
        line-height: 38px

@media (max-width: 939px) and (min-width: 700px)
    .article_size_normal_up700_down939
        @include blog-article_size_normal