/* .page-title */
.page-title
    background: url('/img/page_title_background.svg')
    background-size: cover
    padding: 50px 0

    &__body
        margin: auto

        text-align: center
        max-width: 780px

        color: white

    &__header
        font-size: 44px
        font-weight: 600
        line-height: 74px

        margin-bottom: 16px

    &__description
        opacity: 0.4

        font-size: 20px
        line-height: 30px
