.footer
    color: white
    background: $footerBackgroundColor
    padding-bottom: 64px

    @media (min-width: 860px)
        padding-top: 90px
        margin-right: 96px
        border-radius: 0 200px 0 0

    @media (max-width: 859px)
        padding-top: 20px

.footer__work-with-our-team-conteiner
    @media (min-width: 860px)
        display: grid
        grid-template-columns: auto max-content
        grid-template-rows: auto auto

        row-gap: 32px

.footer__container
    width: 100%
    max-width: 860px

    padding: 10px

.footer__work-with-our-team-header
    font-size: 36px
    line-height: 46px

    @media (min-width: 860px)
        max-width: 317px

.footer__work-with-our-team-information
    color: rgba(255, 255, 255, 0.6)
    line-height: 26px

    @media (min-width: 860px)
        max-width: 460px

.footer__button-talk
    @media (min-width: 860px)
        align-self: center
        grid-column: 2
        grid-row: 1 / -1

.footer__separator
    margin-top: 96px
    margin-bottom: 96px
    margin-left: -50%
    max-width: calc(860px + 50%)

.footer__information-container
    @media (min-width: 860px)
        display: flex
        justify-content: space-between
        max-width: 700px

.footer__logo
    margin-bottom: 32px

.footer__copyright
    margin-top: 64px