.can-help__body
    margin: 10px

.can-help__header
    color: $headerLightColor
    font-size: 35px

@media (min-width: 800px + 1)
    .can-help__header
        position: absolute

        width: 100%
        max-width: 380px

    .can-help__capabilities
        @include fit-parent-center-width(860px)

        display: grid
        grid-template-columns: 380px 380px
        justify-content: space-between
        row-gap: 100px

        &:first-child
            grid-row: span 2
            align-self: center

@media (max-width: 800px)
    .can-help__header
        text-align: center
        margin-bottom: 50px

    .can-help__capabilities
        @include fit-parent-center-width(380px)
    
    .can-help__capability
        @include margin-list-element(50px)