.blue_button {
    border-radius: 10px;    
    padding: 15px 48px;
    background: $blueFour;   
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;

    transition: background 0.3s;
}

.blue_button:hover {
    background: $blueFourHover;
}