/* .finished-projects */
.finished-projects {
    margin: 192px auto 0 auto;
    padding: 0 10px;

    box-sizing: content-box;
    max-width: $desktopContentWidth;
}

@media (width < 855px) {
    .finished-projects {
        padding: 0 10px 0 10px;
    }
}

/* .finished-projects__header-conteiner */
.finished-projects__header-conteiner {
    margin-bottom: 96px;
}

@media (width >=855px) {
    .finished-projects__header-conteiner {
        display: flex;
        justify-content: flex-start;
    }
}

/* .finished-projects__header */
.finished-projects__header {
    font-size: 36px;
    color: $blueOne;

    letter-spacing: 0.05em;
}

@media (width >= 855px) {
    .finished-projects__header {
        width: 230px;
        margin-right: 93px;
    }
}
@media (width < 855px) {
    .finished-projects__header {
        text-align: center;
        margin-bottom: 25px;
    }
}

/* .finished-projects__sub-header */
.finished-projects__sub-header {
    font-size: 16px;
}

/* .finished-projects__projects */
.finished-projects__projects {
    display: grid;
    row-gap: 89px;
}

@media (width >= 855px) {
    .finished-projects__projects {
        justify-content: space-between;
        grid-template-columns: auto auto;
    }

    .finished-projects__project {
        width: 422px;
    }

    .finished-projects__project:first-child {
        width: 100%;
        grid-column: 2 span;
    }
}

@media (width < 855px) {
    .finished-projects__projects {
        grid-template-columns: auto;
    }
}