/* .header */
.header {
    position: fixed;
    width: 100%;
    height: 128px;

    padding-top: 40px;
    padding-bottom: 40px;

    background-color: white;

    z-index: 1;
}

.main_header_padding {
    padding-top: 128px;
}

/* .header__content */
.header__content {
    display: flex;
    justify-content: space-between;
    
    height: 100%;
    margin: 0 83px;
}

/* .header__icon */
.header__icon {
    width: 48px;
    height: 48px;
}

/* .header__burger-button */
.header__burger-button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}