/* .hello_section */
.hello_section {
    padding-bottom: 10px;
    background: linear-gradient(0deg,
            rgba(152, 195, 232, 0.2) 8.84%,
            rgba(152, 195, 232, 0) 31.12%);
}

/* .hello_section__content */
.hello_section__content {
    display: grid;
    max-width: 1130px;

    margin: auto;
    padding: 0 10px;
}

@media (max-width: 640px) {
    .hello_section__content {
        grid-row: auto auto;
    }
}

@media (min-width: 641px) {
    .hello_section__content {
        grid-template-columns: 1fr 1fr;
    }
}

/* .hello_section__title */
.hello_section__title {
    font-family: 'Galien', serif;
    font-size: 64px;
    line-height: 74px;

    letter-spacing: 0.04em;

    color: #1F3F68;
}

/* .hello_section__subtitle */
.hello_section__subtitle {
    color: #1F3F68;
}

/* .hello_section__see_projects */
.hello_section__see_projects {
    margin-top: 10px;
}

/* .hello_section__illustration */
.hello_section__illustration {
    width: 100%;
}

@media (max-width: 640px) {
    .hello_section__illustration {
        order: -1;
    }
}