/* .project */
.project {
    position: relative;
    height: 417px;
    transition: 0.2s;

    overflow: hidden;
    border-radius: 10px;

    cursor: pointer;
}

/* .project__header_container */
.project__header_container {
    margin: 24px auto auto 32px;
    color: white;
}

@media (width >= 925px) {
    .project:first-child .project__header_container {
        width: fit-content;
        text-align: right;
        margin: 48px 25px auto auto;
    }
}

/* .project__background */
.project__background {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    z-index: -1;
}

.project__background * {
    position: absolute;
    width: 100%;
    height: 100%;

    user-select: none;
}

/* .project__background-image */
.project__background-image {
    transition: transform 0.2s;
}

.project:hover .project__background-image {
    transform: scale(110%);
}

/* .project__background-gradient */
.project__background-gradient {
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
}

/* .project__header */
.project__header {
    font-size: 28px;
    line-height: 46px;
    font-weight: normal;
}

.project:hover .project__header {
    text-decoration: underline;
}

/* .project__sub-header */
.project__sub-header {
    line-height: 46px;
    margin-top: 4px;
}