/* .popular-articles__body */
.popular-articles__body
    margin: 0 10px

/* .popular-articles__header */
.popular-articles__header
    text-transform: uppercase
    font-size: 20px
    line-height: 25px

    margin-bottom: 32px

    color: $blueThree

/* .popular-articles__articles */
.popular-articles__articles
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    row-gap: 33px
    column-gap: 20px

/* .popular-articles__article */
.popular-articles__article:first-child
    grid-column: span 3
