/* .blog-article__image */
.blog-article__image {
    width: 100%;

    margin-bottom: 16px;
}

/* .blog-article__header */
.blog-article__header {
    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;

    margin-bottom: 16px;

    color: $blueOne;
}

/* .blog-article__link */
.blog-article__link {
    color: inherit;
    text-decoration: none;
}

.blog-article__link:hover {
    text-decoration: underline;
    color: $blueFour;
}

/* .blog-article__content */
.blog-article__content {
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, .6);

    margin-bottom: 16px;
}

/* .blog-article__information-and-action */
.blog-article__information-and-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    max-width: 300px;
}

/* .blog-article__author */
.blog-article__author {
    color: #1F3F68;
}

/* .blog-article__date-publish */
.blog-article__date-publish {
    color: rgba(0, 0, 0, 0.4)
}

/* .blog-article__actions */
.blog-article__actions {
    height: 18px;
}

/* .blog-article__action-button */
.blog-article__action-button {
    width: 18px;
    height: 18px;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.blog-article__action-button:first-child {
    margin-right: 38px;
}

/* .blog-article__action-icon */
.blog-article__action-icon {
    width: 18px;
    height: 22px;
}

/*  Mod: .blog-article_big */
.blog-article_big {
    display: flex;
}

.blog-article_big .blog-article__header {
    font-size: 48px;
    line-height: 58px;

    margin-bottom: 32px;
}

.blog-article_big .blog-article__content {
    margin-bottom: 60px;
}

.blog-article_big .blog-article__image {
    order: 2;
    margin-left: 20px;
}