/* .article-search */
.article-search {

}

/* .article-search__body */
.article-search__body {
    display: flex;
    align-items: center;

    border-radius: 10px;
    background: #f4f4f4;

    padding: 19px 27px;
    margin: 0 10px;
}

/* .article-search__icon */
.article-search__icon {
    width: 24px;
    height: 24px;

    margin-right: 24px;
}

/* .article-search__input */
.article-search__input {
    width: 100%;

    font-size: 16px;

    outline: none;
    border: none;
    background: transparent;
}