/* .main-home__can-help */
.main-home__can-help {
    margin: auto;
    width: 100%;
    max-width: 950px;
}

@media (width >= 800px) {
    .main-home__can-help {
        margin-top: 192px;
    }
}

@media (width < 800px) {
    .main-home__can-help {
        margin-top: 50px;
    }
}

/* .main-home__finished-projects */
.main-home__finished-projects {
    margin: auto;
    width: 100%;
    max-width: 950px;
}

@media (width >= 800px) {
    .main-home__finished-projects {
        margin-top: 192px;
    }
}

@media (width < 800px) {
    .main-home__finished-projects {
        margin-top: 50px;
    }
}